body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #808080; /* Fundo da página em cinza */
    color: white; /* Texto em branco */
}
header {
    background-color: #0000FF; /* Banners em azul */
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
h2 {
    color: #0000FF; /* Títulos em azul */
}
.sources {
    margin-top: 20px;
    font-size: 0.9em;
}
.charts {
    margin-top: 20px;
    text-align: center;
}
.charts img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.chart-description {
    margin-bottom: 10px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0000FF;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}